---
import type { MarkdownHeading } from "astro";
import BlogStats from ".././BlogStats.astro"; //引入文章总计
import SiteAge from ".././SiteAge.astro"; //引入建站时间的组件
import VisitStats from ".././VisitStats.astro"; //引入访问统计
import Categories from "./Categories.astro";
import Profile from "./Profile.astro";
import Tag from "./Tags.astro";

interface Props {
	class?: string;
	headings?: MarkdownHeading[];
}

const className = Astro.props.class;
---
<div id="sidebar" class:list={[className, "w-full"]}>
    <div class="flex flex-col w-full gap-4 mb-4">
        <Profile></Profile>
        <SiteAge></SiteAge> <!-- 新增：渲染建站时长板块 -->
        <BlogStats></BlogStats> <!-- 新增：渲染统计模块 -->
        <VisitStats></VisitStats> <!-- 新增：渲染访问统计模块 -->
    </div>
    <div id="sidebar-sticky" class="transition-all duration-700 flex flex-col w-full gap-4 top-4 sticky top-4">
        <Categories class="onload-animation" style="animation-delay: 150ms"></Categories>
        <Tag class="onload-animation" style="animation-delay: 200ms"></Tag>
    </div>
</div>
